@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font: normal 18px Belleza, Arial, sans-serif;
  background: linear-gradient(to right, #EBD3AE, #B7ACC0);
}

.nav, .footer {
  background: #553C6B;
  color: #EBD3AE;
}

.nav-logo {
  background: radial-gradient(circle at center, #EBD3AE 20%, #553C6B 60%);
  height: 60px;
  border-radius: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 600px) {
  .navbar {
    display: none;
  }
  .slider-container {
    height: 100vh; /* Allow the slider to take up more than the full viewport height */
    max-width: none; /* Remove the maximum height restriction */
    overflow: visible; /* Allow overflow so that slides can go off the screen */
    width: 100vh;
    object-position: right;
  }
  .carousel-image {
    max-height: 50vh; /* Ensure images do not exceed 50% of the viewport height */
  }

}

.slide img {
  width: 100rem;
  max-width: 100%;
  height: fit-content;
}

.slide {
  transform: scale(0.7);
  transition: transform 300ms;
  opacity: .7;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.activeSlide {
  transform: scale(1);
  opacity: 1;
}

.slider {
  height: 100%;
  width: 100%;
}

.slider-container {
  max-height: 80vh; 
  overflow: hidden; 
}
