@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font: normal 18px Belleza, Arial, sans-serif;
  background: linear-gradient(to right, #EBD3AE, #B7ACC0)
}

.nav, .footer {
  background: #553C6B;
  color: #EBD3AE;
}

/* gradient for navbar logo */
.nav-logo {
  background: radial-gradient(circle at center, #EBD3AE 20%, #553C6B 60%);
  height: 60px;
  border-radius: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* hides navbar if screen size is mobile */
@media (max-width: 600px) {
.navbar {
  display: none;
}
}
